@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 5%; 
    font-family: 'Poppins', sans-serif;
}

.attribution a { color: hsl(228, 45%, 44%); }

body{
    background: #f2e9e2;
}
main{
    display: grid;
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.popup{
    height: 450px;
    max-width: 600px;
    background: white;
    margin: 10% auto 0 auto;
    border-radius: 10px;

}
.popup__left-side{
    background-image: url('/images/image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.popup__right-side{
    padding: 20px 30px;
}
.popup__subtitle{
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: gray;
}
.popup__title{
    font-family: 'Merriweather', serif;
}
.popup__caption{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.popup__price{
    display: flex;
    align-items: center;
    height: 60px;
    margin: 10px auto;
}
.popup__price .discount__price{
    font-size: 2em;
    font-family: 'Merriweather', serif;
    color: #3d8168;
}
.popup__price .original__price{
    text-decoration: line-through;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.original__price{
    padding: 10px;
}
.popup__btn{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    background: #3d8168;
    border:none;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.popup__btn:hover{
    cursor: pointer;
    background: #255342;
}
.popup__btn img{
    width: 12px;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .popup{
        display: grid;
        grid-template-columns: 1fr;
        height: 620px;
    }
    .popup__left-side{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 10px;
        height: 260px;

    }
    .popup__right-side{
        padding: 10px 20px;
        background: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}